config MTK_SENSORHUB
	tristate "sensorhub architecture for MediaTek package"
	help
	  It support mediatek sensorhub architecture.
	  If this option is set,
	  it will support
	  mediatek sensorhub architecture.
	  
# drv add by situziyin 20231209
config PRIZE_UNDERSCREEN_ALS
	bool "underscreen als function"
	help
	  underscreen als function
